.metadata/
.classpath
.project
.pydevproject
.settings/
target/
build/
site/
cache/
bin/
*.iml
.idea/
.vscode/
.attach_pid*
*.swp
.gradle/
stale_outputs_checked
.cproject
*.o
*.d
*.log
*.aux
*.pdf
node_modules
